<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Orbit.Domain]*,[Orbit.Application]*,[Orbit.Infrastructure]*</Include>
          <Exclude>[Orbit.Api]*,[*.Tests]*</Exclude>
          <ExcludeByFile>**/Migrations/**/*.cs</ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
