<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Orbit.Domain]*,[Orbit.Application]*,[Orbit.Infrastructure]*,[Orbit.Api]*</Include>
          <Exclude>[*.Tests]*</Exclude>
          <ExcludeByFile>**/Migrations/**/*.cs,**/Orbit.Api/Program.cs,**/Orbit.Api/Extensions/ServiceCollectionExtensions*.cs,**/Orbit.Api/Extensions/WebApplicationExtensions.cs,**/Orbit.Api/OpenApi/BearerSecuritySchemeTransformer.cs,**/*.generated.cs</ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
